/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1e1d1d;

}

.logo-container {
    flex: 1;
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 30px;
    transition: transform 1s ease;
}

.logo:hover {
    transform: rotate(360deg);
}

/* Updated Navigation Styles */
.navigation-menu {
    display: flex;
    list-style: none;
    margin-top: 3px;
    border-radius: 50%;
    margin-right: 20px;
}

.navigation-menu li {
    display: inline-flex;
    border-radius: 40%;
    font-size: 1.5rem;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 40px;
}

.navigation-menu li:last-child {
    margin-right: 0;
    background-color: #ffffff;

}

.navigation-menu a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #454343;
    font-family: 'Nosifer', sans-serif;
}

.navigation-menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 1s ease;
}

.navigation-menu li:hover {
    transform: translateY(-5px);
    /* Move the item up on hover */
    box-shadow: 0 4px 8px rgba(211, 200, 200, 0.2);
    /* Add a subtle shadow on hover */
}

.navigation-menu a:hover {
    padding-bottom: 10px;
    background-color: #f7f7f7;
    border-radius: 60%;
}

.navigation-menu a:hover:before {
    transform: scaleX(1);
    background-color: #e2e2e2;
}


/* Main Styles */
.pic {
    max-width: 100%;
    max-height: 100%;
    display: block;
    /* Removes extra space below the image */
    margin: 0;
    margin-bottom: -10px;
}

/* Add a border top and bottom and space above the heading */
.banner {
    margin-left: 300px;
    margin-right: 100px;
    font-size: 260%;
    font-family: 'Creepster', system-ui;
    color: #454343;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: move-horizontally-banner 10s infinite linear;
}

@keyframes move-horizontally-banner {
    0% {
        transform: translateX(7%);
    }

    100% {
        transform: translateX(-75%);
    }
}

#text-container {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    /* Stack the flex items vertically */
}

#centered-text h2 {
    font-size: 500%;
    font-family: 'Creepster', system-ui;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    /* Adjust as needed */
    animation: move-horizontally-h2 50s infinite linear;
}

@keyframes move-horizontally-h2 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


#text-container p {
    font-size: 23px;
    color: #d2d2d2;
    line-height: 1.5;
    margin-top: 20px;
    font-family: 'Megrim', system-ui;
    padding-right: 20px;
    padding-left: 20px;
    /* Add padding to the left */
    padding: 10px;
    margin-right: 180px;
    /* Adjust as needed */
    float: right;
    background-color: rgb(39, 37, 37);
    /* Set the background color of the shape */
    border-radius: 60% 40% 60% 30%;
}


#text-container img.profile-pic {
    width: 500px;
    height: auto;
    border-radius: 57% 10% 60% 30%;
    margin-bottom: 30px;
    margin-left: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hover effect for footer logo */
.footer-logo:hover {
    transform: rotate(360deg);
}

/* Footer Styles */
footer {
    background-color: #1e1d1d;
    /* Dark background color for the footer */
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-family: 'Megrim', system-ui;
    margin-top: -10px;
    font-style: bold;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    transition: transform 1s ease;
}

.footer-text {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px 0;
    color: #ccc;
    font-family: 'Megrim', system-ui;
    font-size: larger;
}

.footer-text:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #b9b6b6;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.footer-text:hover {
    color: #e2f689;
}

.footer-text:hover:before {
    transform: scaleX(1);
    background-color: #e8dcdc;
}